<a href="https://colab.research.google.com/github/avyaktawrat/Evaluat-inator/blob/master/Auto_encoders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [0]:
movies = pd.read_csv('https://github.com/avyaktawrat/Evaluat-inator/raw/master/data/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('https://github.com/avyaktawrat/Evaluat-inator/raw/master/data/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('https://github.com/avyaktawrat/Evaluat-inator/blob/master/data/ratings.dat?raw=true', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

movies.columns = ['movieID', 'title', 'genres']
users.columns = ['userId',	'gender',	'age_desc',	'occ_desc', 'zipcode']
ratings.columns = ['userId',	'movieId',	'rating',	'timestamp']

In [3]:
movies.head()

   movieID                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [4]:
users.head()

   userId gender  age_desc  occ_desc zipcode
0       1      F         1        10   48067
1       2      M        56        16   70072
2       3      M        25        15   55117
3       4      M        45         7   02460
4       5      M        25        20   55455

In [5]:
ratings.head()

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [0]:
from sklearn.model_selection import KFold

In [8]:
cv = KFold(5, True, random_state=42)
cv

KFold(n_splits=5, random_state=42, shuffle=True)

In [0]:
ratings_np = ratings.to_numpy()

In [10]:
for train, test in cv.split(ratings_np):
  training_set = ratings_np[train]
  test_set = ratings_np[test]
  break
print('train: %s, test: %s' % (training_set, test_set.shape))
training_set.shape

train: [[        1       661         3 978302109]
 [        1       914         3 978301968]
 [        1      3408         4 978300275]
 ...
 [     6040      1094         5 956704887]
 [     6040      1096         4 956715648]
 [     6040      1097         4 956715569]], test: (200042, 4)

(800167, 4)

In [0]:
# Preparing the training set and the test set
# training_set = pd.read_csv('u1.base', delimiter = '\t')
# print(training_set.head())
# training_set = np.array(training_set, dtype = 'int')
# test_set = pd.read_csv('u1.test', delimiter = '\t')
# test_set = np.array(test_set, dtype = 'int')

In [12]:
training_set.shape

(800167, 4)

In [0]:
np.save('training_set.npy',training_set)
np.save('test_set.npy',test_set)

In [0]:
# training_set = np.load('training_set.npy')

In [0]:
# test_set = np.load('test_set.npy')

In [0]:
# Getting the number of users and movies
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))

In [0]:
# Why doing this ? Because we want to create a new structure of data, having the shape of a 2d array where:

#    the rows are the users,
#    the columns are the movies,
#    the cells are the ratings.

In [0]:
def convert(data):
    new_data = []
    for id_users in range(1,nb_users+1):
        id_movies = data[:,1][data[:,0] == id_users]
        id_ratings = data[:,2][data[:,0] == id_users]
        #all rows such that first coloumn is id_users
        ratings = np.zeros(nb_movies)
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data

In [0]:
training_set = convert(training_set)

In [0]:
test_set = convert(test_set)

In [0]:
np.save('training_set_proc.npy',training_set)
np.save('test_set_proc.npy',test_set)
# training_set = np.load('training_set_proc.npy')
# test_set = np.load('test_set_proc.npy')

In [0]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [0]:
class SAE(nn.Module):
    def __init__(self, ):
        # super function is used to use classes of parent class
        super(SAE,self).__init__()
        # by this we can get all the inherited classes of nn.Module
        # first argument is the features, second is the the number of units
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20,10) #second layer has 10 neurons
        self.fc3 = nn.Linear(10,20)
        self.fc4 = nn.Linear(20,nb_movies)
        self.activation = nn.Sigmoid()
        self.activation_t = nn.Tanh()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation_t(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x

In [0]:
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.Adam(sae.parameters(),lr=0.01,weight_decay=0.5)
#decay is used for regulating the steps of the optimizer

In [0]:
#Training the AutoEncoders

In [0]:
nb_epoch = 200
loss_iteration = np.zeros(nb_epoch)

In [27]:
for epoch in range(1,nb_epoch+1):
    train_loss = 0
    #number of users who at least rated one movie to reduce the computation
    s = 0. #RMSE needs a float
    for id_user in range(nb_users):
        input = Variable(training_set[id_user,:]).unsqueeze(0) #dimension for a batch is also added here on the 0th axis
        #weights in this code are updated after each i/p vector
        target = input.clone() #target is the input
        if torch.sum(target.data > 0) > 0:
            # if the user has rated atleast one movie
            output = sae(input) #predicted ratings are returned for this particular user
            target.require_grad = False #gradient is a clone of i/p so now its gradient won't be calculated
            output[target == 0] = 0 #These are zeros so they don't need to be included in the computation
            loss = criterion(output, target)
            mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10) #denominator should not be zero
            # it is the average of the error with non-zero ratings
            loss.backward()
            train_loss = train_loss + np.sqrt(loss.detach()*mean_corrector) #loss.data[0] is the loss value
            s= s+1
            optimizer.step()
            # backward decides the direction(increased or decreased) of the weights and optimizer decides their intensities

    loss_iteration[epoch-1] = train_loss/s
    print('epoch: '+str(epoch)+ ' loss: '+ str(train_loss/s)) #train loss divided by number of users with atleast one rating

epoch: 1 loss: tensor(1.3380)
epoch: 2 loss: tensor(1.0004)
epoch: 3 loss: tensor(0.9820)
epoch: 4 loss: tensor(0.9758)
epoch: 5 loss: tensor(0.9730)
epoch: 6 loss: tensor(0.9714)
epoch: 7 loss: tensor(0.9704)
epoch: 8 loss: tensor(0.9697)
epoch: 9 loss: tensor(0.9692)
epoch: 10 loss: tensor(0.9688)
epoch: 11 loss: tensor(0.9685)
epoch: 12 loss: tensor(0.9683)
epoch: 13 loss: tensor(0.9681)
epoch: 14 loss: tensor(0.9680)
epoch: 15 loss: tensor(0.9678)
epoch: 16 loss: tensor(0.9677)
epoch: 17 loss: tensor(0.9676)
epoch: 18 loss: tensor(0.9675)
epoch: 19 loss: tensor(0.9674)
epoch: 20 loss: tensor(0.9674)
epoch: 21 loss: tensor(0.9673)
epoch: 22 loss: tensor(0.9673)
epoch: 23 loss: tensor(0.9672)
epoch: 24 loss: tensor(0.9672)
epoch: 25 loss: tensor(0.9671)
epoch: 26 loss: tensor(0.9671)
epoch: 27 loss: tensor(0.9670)
epoch: 28 loss: tensor(0.9670)
epoch: 29 loss: tensor(0.9670)
epoch: 30 loss: tensor(0.9670)
epoch: 31 loss: tensor(0.9669)
epoch: 32 loss: tensor(0.9669)
epoch: 33 loss: tensor(0.9669)
epoch: 34 loss: tensor(0.9669)
epoch: 35 loss: tensor(0.9668)
epoch: 36 loss: tensor(0.9668)
epoch: 37 loss: tensor(0.9668)
epoch: 38 loss: tensor(0.9668)
epoch: 39 loss: tensor(0.9668)
epoch: 40 loss: tensor(0.9668)
epoch: 41 loss: tensor(0.9667)
epoch: 42 loss: tensor(0.9667)
epoch: 43 loss: tensor(0.9667)
epoch: 44 loss: tensor(0.9667)
epoch: 45 loss: tensor(0.9667)
epoch: 46 loss: tensor(0.9667)
epoch: 47 loss: tensor(0.9667)
epoch: 48 loss: tensor(0.9663)
epoch: 49 loss: tensor(0.9656)
epoch: 50 loss: tensor(0.9649)
epoch: 51 loss: tensor(0.9638)
epoch: 52 loss: tensor(0.9645)
epoch: 53 loss: tensor(0.9643)
epoch: 54 loss: tensor(0.9639)
epoch: 55 loss: tensor(0.9628)
epoch: 56 loss: tensor(0.9614)
epoch: 57 loss: tensor(0.9613)
epoch: 58 loss: tensor(0.9614)
epoch: 59 loss: tensor(0.9607)
epoch: 60 loss: tensor(0.9618)
epoch: 61 loss: tensor(0.9609)
epoch: 62 loss: tensor(0.9593)
epoch: 63 loss: tensor(0.9582)
epoch: 64 loss: tensor(0.9588)
epoch: 65 loss: tensor(0.9578)
epoch: 66 loss: tensor(0.9566)
epoch: 67 loss: tensor(0.9587)
epoch: 68 loss: tensor(0.9617)
epoch: 69 loss: tensor(0.9594)
epoch: 70 loss: tensor(0.9597)
epoch: 71 loss: tensor(0.9579)
epoch: 72 loss: tensor(0.9577)
epoch: 73 loss: tensor(0.9585)
epoch: 74 loss: tensor(0.9565)
epoch: 75 loss: tensor(0.9566)
epoch: 76 loss: tensor(0.9567)
epoch: 77 loss: tensor(0.9562)
epoch: 78 loss: tensor(0.9572)
epoch: 79 loss: tensor(0.9576)
epoch: 80 loss: tensor(0.9561)
epoch: 81 loss: tensor(0.9534)
epoch: 82 loss: tensor(0.9523)
epoch: 83 loss: tensor(0.9520)
epoch: 84 loss: tensor(0.9499)
epoch: 85 loss: tensor(0.9480)
epoch: 86 loss: tensor(0.9479)
epoch: 87 loss: tensor(0.9482)
epoch: 88 loss: tensor(0.9470)
epoch: 89 loss: tensor(0.9481)
epoch: 90 loss: tensor(0.9458)
epoch: 91 loss: tensor(0.9438)
epoch: 92 loss: tensor(0.9404)
epoch: 93 loss: tensor(0.9386)
epoch: 94 loss: tensor(0.9362)
epoch: 95 loss: tensor(0.9338)
epoch: 96 loss: tensor(0.9369)
epoch: 97 loss: tensor(0.9359)
epoch: 98 loss: tensor(0.9365)
epoch: 99 loss: tensor(0.9332)
epoch: 100 loss: tensor(0.9341)
epoch: 101 loss: tensor(0.9353)
epoch: 102 loss: tensor(0.9374)
epoch: 103 loss: tensor(0.9390)
epoch: 104 loss: tensor(0.9364)
epoch: 105 loss: tensor(0.9346)
epoch: 106 loss: tensor(0.9346)
epoch: 107 loss: tensor(0.9358)
epoch: 108 loss: tensor(0.9447)
epoch: 109 loss: tensor(0.9461)
epoch: 110 loss: tensor(0.9404)
epoch: 111 loss: tensor(0.9373)
epoch: 112 loss: tensor(0.9371)
epoch: 113 loss: tensor(0.9329)
epoch: 114 loss: tensor(0.9311)
epoch: 115 loss: tensor(0.9298)
epoch: 116 loss: tensor(0.9293)
epoch: 117 loss: tensor(0.9339)
epoch: 118 loss: tensor(0.9354)
epoch: 119 loss: tensor(0.9350)
epoch: 120 loss: tensor(0.9342)
epoch: 121 loss: tensor(0.9325)
epoch: 122 loss: tensor(0.9310)
epoch: 123 loss: tensor(0.9289)
epoch: 124 loss: tensor(0.9296)
epoch: 125 loss: tensor(0.9301)
epoch: 126 loss: tensor(0.9274)
epoch: 127 loss: tensor(0.9275)
epoch: 128 loss: tensor(0.9270)
epoch: 129 loss: tensor(0.9249)
epoch: 130 loss: tensor(0.9232)
epoch: 131 loss: tensor(0.9271)
epoch: 132 loss: tensor(0.9252)
epoch: 133 loss: tensor(0.9215)
epoch: 134 loss: tensor(0.9196)
epoch: 135 loss: tensor(0.9195)
epoch: 136 loss: tensor(0.9219)
epoch: 137 loss: tensor(0.9194)
epoch: 138 loss: tensor(0.9187)
epoch: 139 loss: tensor(0.9189)
epoch: 140 loss: tensor(0.9183)
epoch: 141 loss: tensor(0.9162)
epoch: 142 loss: tensor(0.9154)
epoch: 143 loss: tensor(0.9169)
epoch: 144 loss: tensor(0.9147)
epoch: 145 loss: tensor(0.9141)
epoch: 146 loss: tensor(0.9147)
epoch: 147 loss: tensor(0.9127)
epoch: 148 loss: tensor(0.9134)
epoch: 149 loss: tensor(0.9128)
epoch: 150 loss: tensor(0.9120)
epoch: 151 loss: tensor(0.9112)
epoch: 152 loss: tensor(0.9092)
epoch: 153 loss: tensor(0.9087)
epoch: 154 loss: tensor(0.9077)
epoch: 155 loss: tensor(0.9091)
epoch: 156 loss: tensor(0.9095)
epoch: 157 loss: tensor(0.9109)
epoch: 158 loss: tensor(0.9134)
epoch: 159 loss: tensor(0.9113)
epoch: 160 loss: tensor(0.9124)
epoch: 161 loss: tensor(0.9084)
epoch: 162 loss: tensor(0.9080)
epoch: 163 loss: tensor(0.9078)
epoch: 164 loss: tensor(0.9077)
epoch: 165 loss: tensor(0.9084)
epoch: 166 loss: tensor(0.9083)
epoch: 167 loss: tensor(0.9142)
epoch: 168 loss: tensor(0.9093)
epoch: 169 loss: tensor(0.9083)
epoch: 170 loss: tensor(0.9096)
epoch: 171 loss: tensor(0.9071)
epoch: 172 loss: tensor(0.9066)
epoch: 173 loss: tensor(0.9058)
epoch: 174 loss: tensor(0.9055)
epoch: 175 loss: tensor(0.9062)
epoch: 176 loss: tensor(0.9051)
epoch: 177 loss: tensor(0.9048)
epoch: 178 loss: tensor(0.9036)
epoch: 179 loss: tensor(0.9049)
epoch: 180 loss: tensor(0.9041)
epoch: 181 loss: tensor(0.9026)
epoch: 182 loss: tensor(0.9021)
epoch: 183 loss: tensor(0.9023)
epoch: 184 loss: tensor(0.9012)
epoch: 185 loss: tensor(0.9006)
epoch: 186 loss: tensor(0.9023)
epoch: 187 loss: tensor(0.9007)
epoch: 188 loss: tensor(0.9000)
epoch: 189 loss: tensor(0.9030)
epoch: 190 loss: tensor(0.9050)
epoch: 191 loss: tensor(0.9040)
epoch: 192 loss: tensor(0.9049)
epoch: 193 loss: tensor(0.9047)
epoch: 194 loss: tensor(0.9040)
epoch: 195 loss: tensor(0.9037)
epoch: 196 loss: tensor(0.9038)
epoch: 197 loss: tensor(0.9026)
epoch: 198 loss: tensor(0.9036)
epoch: 199 loss: tensor(0.9022)
epoch: 200 loss: tensor(0.9013)

In [28]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user,:]).unsqueeze(0) #because we are predicting ratings for that user
    target = Variable(test_set[id_user,:]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        s+=1.
        output = sae(input)
        target.require_grad = False
        output[target == 0] = 0
        pred_loss = criterion(output, target)
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(pred_loss.detach()*mean_corrector)
print('test loss: '+ str(test_loss/s))

test loss: tensor(0.9310)

***Sanity Check***

In [0]:
user_rating = ratings.groupby('userId').size()
input = Variable(training_set[np.argmax(user_rating),:]).unsqueeze(0)
output = sae(input)
# rec_movie = movies['title'][movies['movieID'] == np.argmax(output.detach().numpy())]
# rec_movie_genres = movies['genres'][movies['movieID'] == np.argmax(output.detach().numpy())]
# rec_movie_genres

In [30]:
rec_movie_id = movies["movieID"]
id_movies = np.arange(1,max(rec_movie_id)+1)

rec_movie = pd.DataFrame(np.transpose(output.detach().numpy()), index=id_movies, columns=["Rating"])
rec_movie.sort_values('Rating',ascending=False)[:10]

        Rating
557   5.183513
787   4.841122
729   4.833947
3245  4.771235
2019  4.688835
2503  4.659563
2999  4.644917
53    4.599221
3307  4.570691
578   4.552640