<a href="https://colab.research.google.com/github/avyaktawrat/Evaluat-inator/blob/master/Auto_encoders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [0]:
movies = pd.read_csv('https://github.com/avyaktawrat/Evaluat-inator/raw/master/data/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('https://github.com/avyaktawrat/Evaluat-inator/raw/master/data/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('https://github.com/avyaktawrat/Evaluat-inator/blob/master/data/ratings.dat?raw=true', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

movies.columns = ['movieID', 'title', 'genres']
users.columns = ['userId',	'gender',	'age_desc',	'occ_desc', 'zipcode']
ratings.columns = ['userId',	'movieId',	'rating',	'timestamp']

In [0]:
movies.head()

   movieID                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [0]:
users.head()

   userId gender  age_desc  occ_desc zipcode
0       1      F         1        10   48067
1       2      M        56        16   70072
2       3      M        25        15   55117
3       4      M        45         7   02460
4       5      M        25        20   55455

In [0]:
ratings.head()

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [0]:
### Here we will not use this 1 million data set instead we will use its subset u1base and u1test, there are 5 such different subsets

In [0]:
from sklearn.model_selection import KFold

In [0]:
cv = KFold(5, True, random_state=42)

In [0]:
ratings_np = ratings.to_numpy()

In [0]:
for train, test in cv.split(ratings_np):
  training_set = ratings_np[train]
  test_set = ratings_np[test]
  break
print('train: %s, test: %s' % (training_set, test_set.shape))

train: [[        1       661         3 978302109]
 [        1       914         3 978301968]
 [        1      3408         4 978300275]
 ...
 [     6040      1094         5 956704887]
 [     6040      1096         4 956715648]
 [     6040      1097         4 956715569]], test: (200042, 4)

In [0]:
# Preparing the training set and the test set
# training_set = pd.read_csv('u1.base', delimiter = '\t')
# print(training_set.head())
# training_set = np.array(training_set, dtype = 'int')
# test_set = pd.read_csv('u1.test', delimiter = '\t')
# test_set = np.array(test_set, dtype = 'int')

In [0]:
training_set.shape

(800167, 4)

In [0]:
np.save('training_set.npy',training_set)
np.save('test_set.npy',test_set)

In [0]:
# training_set = np.load('training_set.npy')

In [0]:
# test_set = np.load('test_set.npy')

In [0]:
# Getting the number of users and movies
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))

In [0]:
# Why doing this ? Because we want to create a new structure of data, having the shape of a 2d array where:

#    the rows are the users,
#    the columns are the movies,
#    the cells are the ratings.

In [0]:
def convert(data):
    new_data = []
    for id_users in range(1,nb_users+1):
        id_movies = data[:,1][data[:,0] == id_users]
        id_ratings = data[:,2][data[:,0] == id_users]
        #all rows such that first coloumn is id_users
        ratings = np.zeros(nb_movies)
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data

In [0]:
training_set = convert(training_set)

In [0]:
test_set = convert(test_set)

In [0]:
np.save('training_set_proc.npy',training_set)
np.save('test_set_proc.npy',test_set)
# training_set = np.load('training_set_proc.npy')
# test_set = np.load('test_set_proc.npy')

In [0]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [0]:
class SAE(nn.Module):
    def __init__(self, ):
        # super function is used to use classes of parent class
        super(SAE,self).__init__()
        # by this we can get all the inherited classes of nn.Module
        # first argument is the features, second is the the number of units
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20,10) #second layer has 10 neurons
        self.fc3 = nn.Linear(10,20)
        self.fc4 = nn.Linear(20,nb_movies)
        self.activation = nn.Sigmoid()
        self.activation_t = nn.Tanh()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation_t(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x

In [0]:
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.Adam(sae.parameters(),lr=0.01,weight_decay=0.5)
#decay is used for regulating the steps of the optimizer

In [0]:
#Training the AutoEncoders

In [0]:
nb_epoch = 200

In [0]:
for epoch in range(1,nb_epoch+1):
    train_loss = 0
    #number of users who at least rated one movie to reduce the computation
    s = 0. #RMSE needs a float
    for id_user in range(nb_users):
        input = Variable(training_set[id_user,:]).unsqueeze(0) #dimension for a batch is also added here on the 0th axis
        #weights in this code are updated after each i/p vector
        target = input.clone() #target is the input
        if torch.sum(target.data > 0) > 0:
            # if the user has rated atleast one movie
            output = sae(input) #predicted ratings are returned for this particular user
            target.require_grad = False #gradient is a clone of i/p so now its gradient won't be calculated
            output[target == 0] = 0 #These are zeros so they don't need to be included in the computation
            loss = criterion(output, target)
            mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10) #denominator should not be zero
            # it is the average of the error with non-zero ratings
            loss.backward()
            train_loss = train_loss + np.sqrt(loss.detach()*mean_corrector) #loss.data[0] is the loss value
            s= s+1
            optimizer.step()
            # backward decides the direction(increased or decreased) of the weights and optimizer decides their intensities
    print('epoch: '+str(epoch)+ 'loss: '+ str(train_loss/s)) #train loss divided by number of users with atleast one rating

epoch: 1loss: tensor(1.3373)
epoch: 2loss: tensor(1.0004)
epoch: 3loss: tensor(0.9820)
epoch: 4loss: tensor(0.9758)
epoch: 5loss: tensor(0.9730)
epoch: 6loss: tensor(0.9714)
epoch: 7loss: tensor(0.9704)
epoch: 8loss: tensor(0.9697)
epoch: 9loss: tensor(0.9692)
epoch: 10loss: tensor(0.9688)
epoch: 11loss: tensor(0.9685)
epoch: 12loss: tensor(0.9683)
epoch: 13loss: tensor(0.9681)
epoch: 14loss: tensor(0.9680)
epoch: 15loss: tensor(0.9678)
epoch: 16loss: tensor(0.9677)
epoch: 17loss: tensor(0.9676)
epoch: 18loss: tensor(0.9675)
epoch: 19loss: tensor(0.9674)
epoch: 20loss: tensor(0.9674)
epoch: 21loss: tensor(0.9673)
epoch: 22loss: tensor(0.9673)
epoch: 23loss: tensor(0.9672)
epoch: 24loss: tensor(0.9672)
epoch: 25loss: tensor(0.9671)
epoch: 26loss: tensor(0.9671)
epoch: 27loss: tensor(0.9670)
epoch: 28loss: tensor(0.9670)
epoch: 29loss: tensor(0.9670)
epoch: 30loss: tensor(0.9670)
epoch: 31loss: tensor(0.9669)
epoch: 32loss: tensor(0.9669)
epoch: 33loss: tensor(0.9669)
epoch: 34loss: tensor(0.9669)
epoch: 35loss: tensor(0.9668)
epoch: 36loss: tensor(0.9668)
epoch: 37loss: tensor(0.9668)
epoch: 38loss: tensor(0.9668)
epoch: 39loss: tensor(0.9668)
epoch: 40loss: tensor(0.9668)
epoch: 41loss: tensor(0.9667)
epoch: 42loss: tensor(0.9667)
epoch: 43loss: tensor(0.9667)
epoch: 44loss: tensor(0.9667)
epoch: 45loss: tensor(0.9667)
epoch: 46loss: tensor(0.9667)
epoch: 47loss: tensor(0.9667)
epoch: 48loss: tensor(0.9659)
epoch: 49loss: tensor(0.9651)
epoch: 50loss: tensor(0.9646)
epoch: 51loss: tensor(0.9647)
epoch: 52loss: tensor(0.9644)
epoch: 53loss: tensor(0.9637)
epoch: 54loss: tensor(0.9639)
epoch: 55loss: tensor(0.9637)
epoch: 56loss: tensor(0.9621)
epoch: 57loss: tensor(0.9606)
epoch: 58loss: tensor(0.9609)
epoch: 59loss: tensor(0.9588)
epoch: 60loss: tensor(0.9608)
epoch: 61loss: tensor(0.9612)
epoch: 62loss: tensor(0.9609)
epoch: 63loss: tensor(0.9607)
epoch: 64loss: tensor(0.9602)
epoch: 65loss: tensor(0.9591)
epoch: 66loss: tensor(0.9617)
epoch: 67loss: tensor(0.9610)
epoch: 68loss: tensor(0.9601)
epoch: 69loss: tensor(0.9603)
epoch: 70loss: tensor(0.9585)
epoch: 71loss: tensor(0.9582)
epoch: 72loss: tensor(0.9570)
epoch: 73loss: tensor(0.9549)
epoch: 74loss: tensor(0.9538)
epoch: 75loss: tensor(0.9523)
epoch: 76loss: tensor(0.9540)
epoch: 77loss: tensor(0.9534)
epoch: 78loss: tensor(0.9514)
epoch: 79loss: tensor(0.9521)
epoch: 80loss: tensor(0.9508)
epoch: 81loss: tensor(0.9509)
epoch: 82loss: tensor(0.9508)
epoch: 83loss: tensor(0.9530)
epoch: 84loss: tensor(0.9508)
epoch: 85loss: tensor(0.9495)
epoch: 86loss: tensor(0.9482)
epoch: 87loss: tensor(0.9468)
epoch: 88loss: tensor(0.9438)
epoch: 89loss: tensor(0.9415)
epoch: 90loss: tensor(0.9404)
epoch: 91loss: tensor(0.9411)
epoch: 92loss: tensor(0.9404)
epoch: 93loss: tensor(0.9362)
epoch: 94loss: tensor(0.9352)
epoch: 95loss: tensor(0.9335)
epoch: 96loss: tensor(0.9365)
epoch: 97loss: tensor(0.9345)
epoch: 98loss: tensor(0.9334)
epoch: 99loss: tensor(0.9314)
epoch: 100loss: tensor(0.9285)
epoch: 101loss: tensor(0.9279)
epoch: 102loss: tensor(0.9326)
epoch: 103loss: tensor(0.9290)
epoch: 104loss: tensor(0.9310)
epoch: 105loss: tensor(0.9302)
epoch: 106loss: tensor(0.9285)
epoch: 107loss: tensor(0.9268)
epoch: 108loss: tensor(0.9258)
epoch: 109loss: tensor(0.9241)
epoch: 110loss: tensor(0.9258)
epoch: 111loss: tensor(0.9225)
epoch: 112loss: tensor(0.9209)
epoch: 113loss: tensor(0.9213)
epoch: 114loss: tensor(0.9192)
epoch: 115loss: tensor(0.9175)
epoch: 116loss: tensor(0.9175)
epoch: 117loss: tensor(0.9203)
epoch: 118loss: tensor(0.9184)
epoch: 119loss: tensor(0.9167)
epoch: 120loss: tensor(0.9141)
epoch: 121loss: tensor(0.9116)
epoch: 122loss: tensor(0.9129)
epoch: 123loss: tensor(0.9142)
epoch: 124loss: tensor(0.9163)
epoch: 125loss: tensor(0.9177)
epoch: 126loss: tensor(0.9165)
epoch: 127loss: tensor(0.9128)
epoch: 128loss: tensor(0.9097)
epoch: 129loss: tensor(0.9075)
epoch: 130loss: tensor(0.9070)
epoch: 131loss: tensor(0.9045)
epoch: 132loss: tensor(0.9040)
epoch: 133loss: tensor(0.9020)
epoch: 134loss: tensor(0.9002)
epoch: 135loss: tensor(0.8997)
epoch: 136loss: tensor(0.9000)
epoch: 137loss: tensor(0.8995)
epoch: 138loss: tensor(0.8984)
epoch: 139loss: tensor(0.8966)
epoch: 140loss: tensor(0.8966)
epoch: 141loss: tensor(0.8959)
epoch: 142loss: tensor(0.8943)
epoch: 143loss: tensor(0.8944)
epoch: 144loss: tensor(0.8946)
epoch: 145loss: tensor(0.8958)
epoch: 146loss: tensor(0.8936)
epoch: 147loss: tensor(0.8926)
epoch: 148loss: tensor(0.8935)
epoch: 149loss: tensor(0.8969)
epoch: 150loss: tensor(0.8935)
epoch: 151loss: tensor(0.8916)
epoch: 152loss: tensor(0.8899)
epoch: 153loss: tensor(0.8890)
epoch: 154loss: tensor(0.8879)
epoch: 155loss: tensor(0.8878)
epoch: 156loss: tensor(0.8886)
epoch: 157loss: tensor(0.8882)
epoch: 158loss: tensor(0.8872)
epoch: 159loss: tensor(0.8867)
epoch: 160loss: tensor(0.8869)
epoch: 161loss: tensor(0.8875)
epoch: 162loss: tensor(0.8875)
epoch: 163loss: tensor(0.8858)
epoch: 164loss: tensor(0.8848)
epoch: 165loss: tensor(0.8841)
epoch: 166loss: tensor(0.8940)
epoch: 167loss: tensor(0.8923)
epoch: 168loss: tensor(0.8852)
epoch: 169loss: tensor(0.8865)
epoch: 170loss: tensor(0.8850)
epoch: 171loss: tensor(0.8835)
epoch: 172loss: tensor(0.8826)
epoch: 173loss: tensor(0.8822)
epoch: 174loss: tensor(0.8814)
epoch: 175loss: tensor(0.8814)
epoch: 176loss: tensor(0.8822)
epoch: 177loss: tensor(0.8807)
epoch: 178loss: tensor(0.8811)
epoch: 179loss: tensor(0.8799)
epoch: 180loss: tensor(0.8793)
epoch: 181loss: tensor(0.8807)
epoch: 182loss: tensor(0.8806)
epoch: 183loss: tensor(0.8812)
epoch: 184loss: tensor(0.8803)
epoch: 185loss: tensor(0.8825)
epoch: 186loss: tensor(0.8792)
epoch: 187loss: tensor(0.8784)
epoch: 188loss: tensor(0.8780)
epoch: 189loss: tensor(0.8780)
epoch: 190loss: tensor(0.8775)
epoch: 191loss: tensor(0.8772)
epoch: 192loss: tensor(0.8785)
epoch: 193loss: tensor(0.8844)
epoch: 194loss: tensor(0.8802)
epoch: 195loss: tensor(0.8788)
epoch: 196loss: tensor(0.8780)
epoch: 197loss: tensor(0.8796)
epoch: 198loss: tensor(0.8782)
epoch: 199loss: tensor(0.8789)
epoch: 200loss: tensor(0.8782)

In [0]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user,:]).unsqueeze(0) #because we are predicting ratings for that user
    target = Variable(test_set[id_user,:]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        s+=1.
        output = sae(input)
        target.require_grad = False
        output[target == 0] = 0
        pred_loss = criterion(output, target)
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(pred_loss.detach()*mean_corrector)
print('test loss: '+ str(test_loss/s))

test loss: tensor(0.9130)