<a href="https://colab.research.google.com/github/avyaktawrat/Evaluat-inator/blob/master/Singular_Value_Decomposition(SVD).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Collaborative filtering technique using Singular Value Decomposition

**All the EDA has been saved in another colab file**

# Data Pre-processing

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
# 1M MovieLens dataset has been used
movies = pd.read_csv('https://github.com/avyaktawrat/Evaluat-inator/raw/master/data/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('https://github.com/avyaktawrat/Evaluat-inator/raw/master/data/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('https://github.com/avyaktawrat/Evaluat-inator/blob/master/data/ratings.dat?raw=true', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

movies.columns = ['movieId', 'title', 'genres']
users.columns = ['userId',	'gender',	'age_desc',	'occ_desc', 'zipcode']
ratings.columns = ['userId',	'movieId',	'rating',	'timestamp']

In [3]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1000209 non-null  int64
 1   movieId    1000209 non-null  int64
 2   rating     1000209 non-null  int64
 3   timestamp  1000209 non-null  int64
dtypes: int64(4)
memory usage: 30.5 MB

In [0]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(ratings, test_size=0.2)

In [5]:
n_users = ratings.userId.unique().shape[0]
n_movies = ratings.movieId.unique().shape[0]
print ('Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_movies))

Number of users = 6040 | Number of movies = 3706

In [6]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [0]:
# Creating a dataframe having userId as index and movieId as columns
# Ratings are on scale of 1-5, unrated moveis are rated 0 initially

index = ratings.userId.unique()
index.sort()

columns = ratings.movieId.astype(np.int64).unique()
columns.sort()

Ratings = pd.DataFrame(np.zeros((index.shape[0], columns.shape[0])), index, columns)
for i in train_data.itertuples():
    Ratings.loc[i[1], i[2]] = i[3]

Ratings_test = pd.DataFrame(np.zeros((index.shape[0], columns.shape[0])), index, columns)
for i in test_data.itertuples():
    Ratings_test.loc[i[1], i[2]] = i[3]

total = Ratings
for i in test_data.itertuples():
    total.loc[i[1], i[2]] = i[3]

In [0]:
R = Ratings.to_numpy()
user_ratings_mean = np.mean(R, axis = 1)
Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [9]:
Ratings_demeaned[:4,:4]

array([[ 4.94009714, -0.05990286, -0.05990286, -0.05990286],
       [-0.12924987, -0.12924987, -0.12924987, -0.12924987],
       [-0.05369671, -0.05369671, -0.05369671, -0.05369671],
       [-0.02374528, -0.02374528, -0.02374528, -0.02374528]])

# Matrix Factorization based Collaborative Filtering
This section covers buliding the model manually. Next section uses surprise library

**Goals:**


*   learn the latent preferences of users and the latent attributes of items from known ratings and then predict the unknown ratings through the dot product of the latent features of users and items.
*   by doing matrix factorization, you can restructure the user-item matrix into low-rank structure, and you can represent the matrix by the multiplication of two low-rank matrices, where the rows contain the latent vector
*   fit this matrix to approximate your original matrix, as closely as possible, by multiplying the low-rank matrices together, which fills in the entries missing in the original matrix

Sparsity level = total zeros/ total elements

In [10]:
sparsity = round(1.0 - len(ratings) / float(n_users * n_movies), 3)
print ('The sparsity level of MovieLens1M dataset is ' +  str(sparsity * 100) + '%')

The sparsity level of MovieLens1M dataset is 95.5%

In [11]:
Ratings_demeaned.shape

(6040, 3706)

In [0]:
# Reducing N = 3706 features to k = 50
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(Ratings_demeaned, k=50)

In [0]:
sigma = np.diag(sigma)

In [0]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [16]:
preds = pd.DataFrame(all_user_predicted_ratings, columns = Ratings.columns)
preds.head()

       1         2         3     ...      3950      3951      3952
0  4.288861  0.143055 -0.195080  ...  0.031912  0.050450  0.088910
1  0.744716  0.169659  0.335418  ... -0.101102 -0.054098 -0.140188
2  1.818824  0.456136  0.090978  ...  0.012345  0.015148 -0.109956
3  0.408057 -0.072960  0.039642  ... -0.026050  0.014841 -0.034224
4  1.574272  0.021239 -0.051300  ...  0.033830  0.125706  0.199244

[5 rows x 3706 columns]

In [17]:
movies.head()

   movieId                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

Function to return the movies with the highest predicted rating that the specified user hasn't already rated

In [0]:
dataset = (pd.merge(movies, ratings))

In [0]:
# dataset.head()

In [0]:
# Building the recommendation system manually
def recommend_movies(predictions, userID, movies, original_ratings, num_recommendations):
  
  id_movies = original_ratings.loc[userID].sort_values(ascending = False)
  # top 10 rated movies by user
  user_full = dataset[dataset.movieId.isin(id_movies.index[:10])* dataset.userId.isin([userID])]
  user_full = user_full.loc[user_full.rating.sort_values(ascending = False).index]
  
  # df series having recomm movieId as index and rating as values
  df = predictions.loc[userID][Ratings.loc[userID] ==0].sort_values(ascending = False).to_frame()
  id_pred = df.index[:num_recommendations]
  recommendations = movies[movies.movieId.isin(id_pred)].dropna()
  recommendations = recommendations.set_index(recommendations.movieId)

  df_recom_ratings = df.loc[id_pred].sort_index()

  recommendations = pd.concat([recommendations, df_recom_ratings], axis =1)
  recommendations = recommendations.loc[recommendations.sort_values(by=userID, ascending=False).index]

  return user_full, recommendations

In [31]:
already_rated, predictions = recommend_movies(preds, 110, movies, total, 20)

/usr/local/lib/python3.6/dist-packages/pandas/core/computation/expressions.py:178: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  f"evaluating in Python space because the {repr(op_str)} "

In [32]:
predictions

      movieId  ...       110
318       318  ...  3.433425
1704     1704  ...  3.327164
1265     1265  ...  3.109517
1784     1784  ...  3.049993
593       593  ...  2.917356
2762     2762  ...  2.762926
1641     1641  ...  2.716587
357       357  ...  2.607189
1923     1923  ...  2.581997
150       150  ...  2.511755
1393     1393  ...  2.251447
2302     2302  ...  2.240819
527       527  ...  2.167870
440       440  ...  2.147090
11         11  ...  2.088118
2396     2396  ...  2.083737
21         21  ...  2.048311
3255     3255  ...  2.038769
590       590  ...  2.026823
2359     2359  ...  1.967970

[20 rows x 4 columns]

In [22]:
already_rated

        movieId                       title  ... rating  timestamp
992511     3897        Almost Famous (2000)  ...      5  977514279
933908     3578            Gladiator (2000)  ...      5  977514932
766652     2858      American Beauty (1999)  ...      5  977514902
510543     1912         Out of Sight (1998)  ...      5  977514377
469460     1673        Boogie Nights (1997)  ...      5  977515330
456216     1617    L.A. Confidential (1997)  ...      5  977514344
267276     1089       Reservoir Dogs (1992)  ...      5  977514344
172045      608                Fargo (1996)  ...      5  977514344
23328        50  Usual Suspects, The (1995)  ...      5  977514344
21782        47        Seven (Se7en) (1995)  ...      5  977514421

[10 rows x 6 columns]

## Evaluation

In [0]:
from sklearn.metrics import mean_squared_error
from math import sqrt

# Function to calculate RMSE
def rmse(pred, actual):
    # Ignore nonzero terms.
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return sqrt(mean_squared_error(pred, actual))

In [24]:
# RMSE on train data
rmse(all_user_predicted_ratings, Ratings.to_numpy())

2.236214927907401

In [25]:
# RMSE on total data
rmse(all_user_predicted_ratings, Ratings_test.to_numpy())

2.2345772086550983

# Building better SVD model using Surprise Library

In [0]:
# !pip install surprise

In [0]:
# Import libraries from Surprise package
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

# Load Reader library
reader = Reader()

# Load ratings dataset with Dataset library
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

# Split the dataset for 5-fold evaluation
# data.split(n_folds=5)

In [27]:
# Use the SVD algorithm.
svd = SVD()

# Compute the RMSE of the SVD algorithm.
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8717  0.8714  0.8748  0.8759  0.8753  0.8738  0.0019
MAE (testset)     0.6840  0.6844  0.6866  0.6873  0.6872  0.6859  0.0014
Fit time          48.94   48.49   49.74   48.69   49.31   49.03   0.45
Test time         2.72    2.11    2.66    2.18    2.62    2.46    0.26

{'fit_time': (48.9361047744751,
  48.48717021942139,
  49.741254806518555,
  48.688448905944824,
  49.30824685096741),
 'test_mae': array([0.68399274, 0.68436791, 0.68655253, 0.68734698, 0.68722883]),
 'test_rmse': array([0.8716679 , 0.87135291, 0.87477667, 0.87586284, 0.87531126]),
 'test_time': (2.7163233757019043,
  2.1096761226654053,
  2.6595633029937744,
  2.1825783252716064,
  2.6225593090057373)}

In [28]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [29]:
ratings[ratings['userId'] == 10]

      userId  movieId  rating  timestamp
799       10     2622       5  978228212
800       10      648       4  978224925
801       10     2628       3  978228408
802       10     3358       5  978226378
803       10     3359       3  978227125
...      ...      ...     ...        ...
1195      10     2045       3  978228575
1196      10     2046       4  978228966
1197      10     2047       4  978229459
1198      10     1247       3  979167795
1199      10     2049       5  978229624

[401 rows x 4 columns]

In [30]:
svd.predict(110,0)

Prediction(uid=110, iid=0, r_ui=None, est=3.355135987931979, details={'was_impossible': False})